@page
@model AuthenticationTutorial.Pages.SecureModel
@{
    ViewData["Title"] = "Secure page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to secure page</h1>
   
</div>
<div>
    <h3>User Claims</h3>
    <dl>
        @foreach (var claim in Model.Session.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

     <h3>Metadata</h3>
    <dl>
        @foreach (var item in Model.Session.MetaData)
        {
            <dt>@item.Key</dt>
            <dd>@item.Value</dd>
        }
    </dl>
</div>